#Virutal environment
venv/

#Python cache
__pycache__/
*.pyc

#Environment variables
.env

#ignore everything in input & output folders
input/*
output/*

#keep example files/folders
!input/bugfile.txt
!output/file_04192026_151917/
!output/file_04192026_151917/**

#OS junk
.DS_Store
Thumbs.db

